.navbar{
     overflow: hidden;
     background-color: #333;
     position: fixed;
     /* La barra de navegación se queda fijada en su posición*/
     top: 0;
     /* La posiciona al inicio de la página*/
     width: 100%;
     /* El ancho entero de la pantalla */
}

.Logo{
     height:80px;
     width:80px;
     margin-left: 30px;
     margin-top: 15px;
}


.Iniciosesion{
     text-align: right;
     margin-right: 15px;
}

.Iniciosesion img{
     height:40px;
     width:40px;
     margin-right: 5px;
}

